<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heloo</title>
</head>
<body>
    <h1>Amartya</h1>
    <p>like you are enjoing</p>
    <% blogs.forEach(function(blog){%>
    <div>
        <h2><%=blog.title%></h2>
        <img src="<%=blog.image%>"/>
        <p><%=blog.body%></p>
        <span><%=blog.created%></span>
    </div><%})%>
</body>
</html>